<div class="container">
	<div class="row">
		<div class=" col-sm-4 col-md-4 mx-auto dag-details">
			<p class="h2 dag-details-head">Daily Dag Entry</p>
		</div>
    <div class="col-sm-4 offset-sm-1 ccol-md-4 offset-md-4 add-new-dag">
    	<button type="button" class="btn btn-success">Add New Dag Details</button>
    </div>
	</div>
</div>
<hr/>