.farmer-details-head {
	color: crimson;
}

.footer {
	background-color: antiquewhite;
}

.add-new-farmer {
	margin-top: 5px;
}

.farmer-action-page {
	margin-top: 12px;
	margin-bottom: 30px;
}

.table-farmer-head-padding {
	padding-top: 25px !important;
}

.farmer-action-head-padding {
	padding-top: 25px !important;
}

.pagy-style {
	margin-bottom: -37px;	
}

.farmer-deatil-show {
	margin-top: 12px;
	margin-bottom: 30px;
	padding: 0.5rem 1rem !important;
}

.farmer-deatil-show-data {
	max-width: 450px !important;
}