<div class=" farmer-action-page container-fluid">
	<div class="row">
		<div class="col-sm-8 col-md-7">
			<%= render "farmer_details_table" %>
		</div>
		<div class="col-sm-4 col-md-5">
			<div class="farmer-action-head-padding jumbotron">
				<p class="h4 text-center farmer-details-head">Edit Farmer</p>
				<hr>
				<%= render "edit_farmer" %>
			</div>
		</div>
	</div>
</div>