<div>
  <div class="farmer-deatil-show container-fluid jumbotron ">
    <p class="text-center h2">Farmer Details</p>
  </div>

  <div class="col-sm-12 col-md-12">
    <div class="farmer-deatil-show-data container jumbotron" >
     <%= render "farmer_details" %> 
    </div>
  </div>
</div>